<%if user_signed_in? %>
<% title "-Student" %>
  <div class="container">
     <p id="notice"><%= notice %></p>
      <table class="table table-striped">
      <thead>
        <tr>
          <th><strong>Name</strong></th>
          <th><strong>Age</strong></th>
          <th><strong>RollNo</strong></th>
          <th><strong>Email</strong></th>
          <th><strong>City</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @student.name %></td>
          <td><%= @student.age %></td>
          <td><%= @student.rollno %></td>
          <td><%= @student.email%></td>
          <td><%= @student.City%></td> 
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
   <div>
      <%= link_to 'Edit',edit_student_path(@student) , class: 'btn btn-primary btn-block btn-success' %>
      <%= link_to 'Back',students_path , class: 'btn btn-primary btn-block' %>      
    </div>
  </div>
<% end %>