<!DOCTYPE html>
<html>
  <head>
    <title>Authentication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<% if !user_signed_in?%>
 <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Bootstrap</h5>
      <nav class="my-2 my-md-0 mr-md-3">
	      	<%= link_to 'Login', new_user_session_path ,class:'btn btn-primary' %>
	        <%= link_to 'Sign Up', new_user_registration_path ,class:'btn btn-primary' %>
	    </nav>
 </div>
<%end%>
<%if user_signed_in? %>
	 <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
	    <h5 class="my-0 mr-md-auto font-weight-normal">Bootstrap</h5>
	      <nav class="my-2 my-md-0 mr-md-3">
	      	<%= link_to 'New Student', new_student_path ,class:'btn btn-primary' %>
	      	<%= link_to 'Students', students_path,class:'btn btn-primary' %>
	        <%= link_to("Logout",destroy_user_session_path,  :method => :delete ,class:'btn btn-primary' )%>
	      </nav>
	    </div>
<% end %>
       <p class="alert"><%= alert %></p>
  <%= yield %>
  </body>
</html>
